img{
    width: 30%;
    margin: calc(10%/6);
}

nav{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    width: 30%;
    margin: 0 calc(10%/6);
    border-bottom: 2px solid rgb(173, 162, 162);
    padding: 20px 0;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}